# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

# Realm / client
KEYCLOAK_REALM=zt-realm
KEYCLOAK_CLIENT_ID=zt-client
KEYCLOAK_CLIENT_SECRET=change_me

# Test user
TEST_USERNAME=test_user
TEST_PASSWORD=change_me

# IPs / hosts
VM1_IP=192.168.1.101
VM2_IP=192.168.1.102
VM3_IP=192.168.1.1

# Service ports
KEYCLOAK_PORT=8080
OPA_PORT=8181
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601
APP_PORT=3001
